.swiper {
    max-width: 100%;
    height: 380px;
    border-radius: 30px;
    overflow: hidden;
}

.categorySwiper .swiper-wrapper .swiper-slide .slide_img{
    width: 100%;
    height: 380px;
    border-radius: 20px;
}
.domSwiper .swiper-wrapper .swiper-slide .slide_img{
    width: 90%;
    height: 188px;
    border-radius: 20px;
    margin-left: 70px;
}
.wrapper {
    position: relative;
}
.domSwiper {
    position: relative;
    padding-top: 90px;
    margin: -30px;
}
#dom__banner .swiper_button_prev::after{
    position: absolute;
    left: 0;
}
.swiper-button-prev::after, .swiper-button-next::after {
    position: absolute;
    font-size: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: var(--bg-gradient-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next:active, .swiper-button-prev:active{
    background-image: var(--bg-gradient-dark);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: var(--bg-gradient-white);
}


/* Media query */
@media only screen and (max-width: 768px){
    .swiper {
        max-width: 90%;
        height: 300px;
        object-fit: contain;
        object-position: center;

    }
    .swiper .swiper-button-prev, .swiper-button-next{
        color: #fff;
    }
    #dom__banner {
       display: none;
    }
}
@media only screen and (max-width: 480px){
    .swiper {
        max-width: 611px;
        height: 188px;
        object-fit: cover;
        object-position: center;
    }

    .swiper .swiper-button-prev, .swiper-button-next{
        color: #fff;
    }
}





 /* @media only screen and (max-width: 1400px){

    .swiper {
        width: 100%;
        border-radius: 20px;
    }
    .categorySwiper .swiper-wrapper .swiper-slide .slide_img, .domSwiper .swiper-wrapper .swiper-slide .slide_img{
        border-radius: 20px;
    }
    .swiper-button-prev {
        left: 130px;
        top: 200px;
    }
    .swiper-button-next{
        right: 130px;
        top: 200px;

    }
    .inside_slider{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .inside_slider-prev{
        left: 0px !important;
    }
    .inside_slider-next{
        right: 0px !important;
    }
    .outside_slider{
        display: none;
    }
}  */