.swiper {
    max-width: 100%;
    height: 380px;
    border-radius: 30px;
    overflow: hidden;
}
.categorySwiper .swiper-wrapper .swiper-slide .slide_img, .domSwiper .swiper-wrapper .swiper-slide .slide_img{
    width: 100%;
    height: 380px;
    border-radius: 20px;
}
.wrapper {
    position: relative;
}
.swiper-button-prev::after, .swiper-button-next::after {
    position: absolute;
    font-size: 12px;
}
.swiper-button-prev {
    left: -50px;
    top: 200px;
    width: 35px;
    height: 35px;
    background-image: var(--bg-gradient-white);
    border-radius: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next{
    right: -50px;
    top: 200px;
    width: 35px;
    height: 35px;
    background-image: var(--bg-gradient-white);
    border-radius: 50px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: absolute;
    bottom: -20px;
    left: 0px;
} 
.swiper-button-next:active, #intro .swiper-button-prev:active{
    background-image: var(--bg-gradient-dark);
}
.domSwiper{
    margin-top: 50px;
    margin-bottom: -50px;
}
.domSwiper .swiper-wrapper .swiper-slide .slide_img{
    width: 100%;
    height: 240px;
    border-radius: 30px;
    object-fit: cover;
}
.domSwiper .swiper-wrapper .swiper-slide {
    overflow: hidden;
    border-radius: 15px;
}
.inside_slider{
    display: none;
}
#dom__banner .swiper-button-prev{
    left: -50px;
    top: 120px;
}
#dom__banner .swiper-button-next{
    right: -50px;
    top: 120px;
}

/* Media query */

@media only screen and (max-width: 1400px){
    .swiper {
        width: 70%;
        border-radius: 20px;
    }
    .categorySwiper .swiper-wrapper .swiper-slide .slide_img, .domSwiper .swiper-wrapper .swiper-slide .slide_img{
        border-radius: 20px;
    }
    .swiper-button-prev {
        left: 130px;
        top: 200px;
    }
    .swiper-button-next{
        right: 130px;
        top: 200px;

    }
    .inside_slider{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .inside_slider-prev{
        left: 0px !important;
    }
    .inside_slider-next{
        right: 0px !important;
    }
    .outside_slider{
        display: none;
    }
}