#catalog{
    margin: 0 auto !important;
    display: flex;
    width: 1230px;
    height: 818px;
    background-color: #fff;
    position: fixed;
    top: -1000px;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.catalog_show{
    animation-name: activeCatalog;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: .1s;
}
@keyframes activeCatalog{
    to{
        top: 95px;
        left: 0;
    }
}
/* Universal */

#catalog .left {
    background-image: var(--bg-gradient-white)!important;
    padding: 30px 0 0 45px !important;
    width: 300px;
}

.left .list .list__item {
    width: 260px;
    padding: 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -1%;
    color: var( --bg-darken);
}

.left .list:nth-child(1):hover {
    background-color: transparent;
}
.left .list .list__item:hover{
    background-color: #fff;
    border-radius: 4px 0 0 4px;
}

.fire__wrapper {
    margin-top: 70px;
    position: relative;
}
.left .list .fire {
    position: absolute;
    top: 12px;
    left: -10px;
}

.right {
    padding: 30px 0 0 20px !important;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.right .list .list__item a{
    line-height: 30px;
    color: var(--bg-darken)!important;
}
.right .list .more {
    text-decoration: underline;
    color: var(--bg-primary-blue);
}

.right .table__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 600px;
    margin-left: 100px;
}
.right .table__wrapper table th, td {
    padding: 5px 0;
    text-align: start;
}
.right .table__wrapper table td:hover {
    cursor: pointer;
    background-color: #cec5c5;
}
.right .table__wrapper table thead tr th{
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.right .table__wrapper table tr tbody td{
    font-size: 14px;
    font-weight: 300;
    color: var(--bg-darken);
}
/* Media query */
@media only screen and (max-width: 1260px){
#catalog{
    display: flex;
    width: 1000px;
    height: auto;
}


#catalog .left {
    background-image: var(--bg-gradient-white)!important;
    padding: 5px 0 0 12px !important;
    width: 230px;
}

.left .list .list__item {
    width: 220px;
    padding: 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.left .list .fire {
    display: none;
}

.right {
    padding: 10px 0 0 10px !important;
    display: flex;
    gap: 0px;
}

.right .table__wrapper {
    gap: 10px;
    width: 450px;
}
.right .table__wrapper table th, td {
    padding: 5px 0;
    text-align: start;
}
.right .table__wrapper table td:hover {
    cursor: pointer;
    background-color: #cec5c5;
}
.right .table__wrapper table thead tr th{
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
}
.right .table__wrapper table tr tbody td{
    font-size: 14px;
    font-weight: 300;
    color: var(--bg-darken);
}

}